.App {
  text-align: center;
}

body {
  background-color: #fcf7a1;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5vw;
  color: darkred;
}

.calendar-container {
  height: 700px;
}

.calendar-gridcontainer {
  display: grid;
  grid-template-rows: 7fr 1fr;
  grid-template-columns: 1fr 15fr 1fr;
}

.calendar-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.calendar {
  background-color: white;
}

.profile-input {
  width: 20em;
}

.grid-container {
  display: grid;
  grid-template-rows: 33% 15% 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10vw 0 10vw;
}

.profile-img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.avatar {
  max-width: 20em;
  max-height: 20em;
}

.profile-welcome-form {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.profile-hobbies {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.welcome-msg {
  padding-bottom: .5em;
}

.profile-button {
  font-size: 1.5vw;
  padding: 1vw;
  border-radius: 20%;
}

.edit-profile-form {
  grid-column: 2 / span 2;
  font-size: .5em;
  grid-row: 2 / span 2;
}

.login{
  background: lightgray;
  max-width: 50vw;
  border: thin;
  border-radius: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
}

.login:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translate(-4px, -4px);
  transition: 1s;
}

input {
  font-size: 1.5em;
}

.logo {
  width: 27em;
  height: auto;
  padding: 2em;
}


.homebtn {
  font-size: 1.3em;
  color:  white;
  background-color: black;
  border-radius: 2em;
  padding: .5em;
}
