@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Antic+Didone');

/** {
  margin: 0px;
  padding: 0px;
}
*/
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5vw;
  background: #fcf7a1;
  font-family: 'Lato', sans-serif;
  background-color: #fcf7a1;
}

.App {
  text-align: center;
  height: 100vh;
}

.calendar-container {
  height: 700px;
}

.calendar-gridcontainer {
  display: grid;
  grid-template-rows: 7fr 1fr;
  grid-template-columns: 1fr 15fr 1fr;
}
.stars_bg {
    background-image: url('./images/bg-image.jpg');
    background-size: cover;
}
.calendar-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.calendar {
  background-color: white;
}

.loading {
  padding-left: 35vw;
  padding-top: 20vh;
}

.profile-input {
  width: 20em;
}

.grid-container {
  display: grid;
  grid-template-rows: 33% 15% 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10vw 0 10vw;
}

.profile-img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.avatar {
  max-width: 20em;
  max-height: 20em;
}

.profile-welcome-form {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.profile-hobbies {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.welcome-msg {
  padding-bottom: .5em;
}

.profile-button {
  font-size: 1.5vw;
  padding: 1vw;
  border-radius: 20%;
}

.edit-profile-form {
  grid-column: 2 / span 2;
  font-size: .5em;
  grid-row: 2 / span 2;
}
    
header {
  font-size: 30px;
  text-align: center;
  margin: 20px 0px 20px;
}

h1 {
  display: inline-block;
}

.login{
  max-width: 50vw;
  background: #D8D5D5;
  margin: 0 auto;
  border-style: double;
  border-radius: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.login:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translate(-4px, -4px);
  transition: 1s;
  border-color: red;
}

input {
  font-size: 1.5em;
}

.logo {
  width: 27em;
  height: auto;
  padding: 2em;
}

input[type="submit"] {
  width: 150px;
  padding: 6px 12px;
  font-size: 20px;
}

.homebtn {
  font-size: 1.3em;
  color:  white;
  background-color: black;
  border-radius: 2em;
  padding: .5em;
}

.navbar {
  color: white;
  margin: 0 auto;
  background: black;
  word-spacing: 0vw;
  font-size: 2vw;
}
